{% extends 'footballstats/base.html'%}
{ % loadstatic %}
{% block content %}


		<div class="fulid-container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-light bg-light">
						<h3 class="navbar-brand">Wyszukiwanie meczy</h3>
					</nav>
				</div>
			</div>
		</div>
		<div style="margin-top:20" class="container">
			<form class="" action="{% url 'footballstats:match_data' %}" method="POST">
				{% csrf_token %}

				<div class="form-group row">


				<label>League</label>
				<select name="league_id" class="form-control">
					<option value="148">English Premier League</option>
					<option value="468">Spanish La Liga</option>
				</select>
				</div>
				<div class="form-group">
					<label for="inputFromDate">From Date</label>
					<input type="date" name="from_date" class="form-control" id="inputFromDate" placeholder="10/2/2019">
				</div>
					<div class="form-group">
					<label for="inputFromDate">To Date </label>
					<input type="date" name="to_date" class="form-control" id="inputToDate" placeholder="10/2/2019">
				</div>

					<div class="form-group" style="margin-top:32px">
						<input type="submit" value="Pokaż mecze" class="btn btn-primary form-control">
					</div>

			</form>

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<table class="table table-hover">
						<tbody>
							{% if match_data %}
							{% for match in match_data %}

							<tr style="border:0 solid white;" class="table-row" data-href="/footballstats/matches/{{match.match_id}}">
						          <td>
						            <div>

						              <img src=" {{match.team_home_badge}} " alt="logo ligi" style="width:12;height:12" data-atf="1">
						              <span style="margin-left:15">{{match.home_team | safe }}  {{match.home_team_score}} </span>
										<span style="margin-left:15">- {{match.away_team_score}} {{match.away_team | safe }}  </span>
										<img src="{{match.team_away_badge}}" alt="" style="width:24;height:24"data-atf="1">


						            </div>
						          </td>

						          <td>
						            <div class="v1">
													{% if match.match_status %}
													<div>
													{{match.match_status}}<br>{{match.match_date}}<br>{{match.match_time}}
													</div>
													{% else %}
													<div>
					 							 	{{match.match_date}}<br>{{match.match_time}}{{match.away_team_score}}
														{{match.score_fulltime}}
					 							    </div>
													{% endif %}

						          </td>
						        </tr>



							{% endfor %}

							{% else %}
							 <p>{{match_error.message }} Proszę wybrać inny zakres dat</p>

							{% endif %}

						</tbody>
					</table>
					{% if match_data %}
					<h2 class="list-group-item"style="text-align:center;  font-size:40px;">Statystyki</h2>

					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">Ilość wszystkich meczy:{{ match_data | length }} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy powyżej 0.5 gola: :{{data.score_over05}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy powyżej 1.5 gola: {{data.score_over15}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy powyżej 2.5 gola: {{data.score_over25}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy poniżej 0.5 gola: {{data.score_below05}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy poniżej 1.5 gola: {{data.score_below15}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość meczy poniżej 2.5 gola: {{data.score_below25}} </li>
					<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">	Ilość wszystkich goli w meczach które się wyświetlają: {{data.score_fulltime}}  </li>

					{% endif %}

<p><a href="/..">Powrót do strony głównej</a></p>


			</div>
		</div>

{% endblock %}