{% extends 'footballstats/base.html'%}
{ % loadstatic %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div style="margin-top:20px" class="clearfix">
				<div style="float:left">
                 Liga: {{match_info.league_name}}<br>
                 Data meczu: {{match_info.match_date}} <br>
                 Status meczu: {{match_info.match_status}}
				</div>
            </div>
          <br>

						            <div >
										<div style="font-size:12px; color:#787878;float:left">
						              		<img src=" {{match_info.team_home_badge}} " alt="logo ligi" style="width:12;height:12" data-atf="1">
										</div>
										<div style="margin-left:40px; margin-top:30px;float:left">
						              		<span style="font-size:20px">{{match_info.match_hometeam_name | safe }}  {{match_info.match_hometeam_score}} - {{match_info.match_awayteam_score}} {{match_info.match_awayteam_name | safe }}</span>
										</div>
										<div style="font-size:12px; color:#787878;float:right">
											<img src="{{match_info.team_away_badge}}" alt="logo ligi" style="width:24;height:24"data-atf="1"><br>
										</div>


						            </div>


				<hr style="width:90%"></hr>

			<div>
				<div style="font-size:12px;color:#787878;float:left">
					<ul style="list-style-type:none; display:inline">
						{% for scorer in goalscorer %}
							{% if scorer.home_scorer != ""  %}
							<li>{{scorer.home_scorer | safe }} {{scorer.time}}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>


				<div style="font-size:12px; color:#787878;float:right">
					<ul style="list-style-type:none;display:inline">
						{% for scorer in goalscorer %}
							{% if scorer.away_scorer != "" %}
								<li>{{scorer.away_scorer | safe }} {{scorer.time}}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

<p><a href="/..">Powrót do do strony głownej</a></p>
		</div>
          {% endblock %}







