{% extends 'footballstats/base.html'%}
{% block content %}
<div>
     <ol>
           <h3>Imię i Nazwisko:     {{player_info.player_name }}</h3>
           <ul>

             <li>Id gracza:{{player_info.player_key}}</li>
             <li>Kraj: {{player_info.player_country }}</li>
             <li>Numer zawodnika: {{player_info.player_number }} <br></li>
             <li>Pozycja: {{player_info.player_type }} <br></li>
             <li>Lat: {{player_info.player_age }}</li>
             <li>Rozegrane mecze: {{player_info.player_match_played}}</li>
             <li>Ilość goli: {{ player_info.player_goals}}</li>
             <li>Zółte kartki: {{player_info.player_yellow_cards}}</li>
             <li>Czerwone kartki: {{player_info.player_red.cards}}</li>
             <li>Nazwa teamu: {{player_info.team_name}}</li>
               <li>Team id: {{player_info.team_key}}</li>



           </ul>
        </ol>

<p><a href="../">Powrót do wyszukiwania</a></p>



{% endblock %}
