{% extends 'footballstats/base.html'%}
{% block content %}
<div class="fulid-container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-light bg-light">
						<h3 class="navbar-brand">Wyszukiwanie graczy</h3>
					</nav>
				</div>
			</div>
		</div>


		<div style="margin-top:20" class="container">
			<form class="" action="{% url 'footballstats:player_data' %}" method="POST">
				{% csrf_token %}

					<div class="form-group row">
						<input type="search" id="player_id" name="player_id" placeholder="Wpisz ID gracza" class="form-control">
					</div>
					<div class="form-group">
						<input type="search" id="player_name" name="player_name" placeholder="Wpisz Imie i Nazwisko gracza" class="form-control">
					</div>
					<div class="form-group" style="margin-top:32px">
						<input type="submit" value="Pokaż graczy" class="btn btn-primary form-control">
					</div>
			</form>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<table class="table table-hover">
						<tbody>
							{% if player_data %}
							{% for player in player_data %}
							<tr style="border:0 solid white;" class="table-row" data-href="/footballstats/players/{{player.player_key}}">
								<td>
						            <div>

						              <span style="margin-left:15">{{player.player_name }}  </span>

						            </div>
						          </td>

						        </tr>



							{% endfor %}

							{% else %}
							 <p>Taki zawodnik nie istnieje</p>

							{% endif %}

						</tbody>
					</table>

<p><a href="/..">Powrót do strony głównej</a></p>

{% endblock %}